---
import Backtotop from "../components/backtotop.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/img/ikoner_logo/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Østerlandsk Tehus</title>
    <link rel="stylesheet" href="https://use.typekit.net/jxo6nhv.css" />
  </head>

  <body>
    <Header />

    <main>
      <section class="main">
        <h1>BLIV KLOGERE PÅ KAFFEVARIANTER</h1>
        <div class="div_1 inview1">
          <div class="text">
            <h2>Dark Roast</h2><p class="body1">
              Dark Roast er betegnelsen for kaffe, som er blevet mørkere ristet
              og dermed giver en mere bitter og mindre syrlig smag end
              kaffebønner, som er ristet i kortere tid. Når kaffebønnerne
              ristes, samler olien sig i små lommer igennem hjertet af bønnen.
              Jo længere tid bønnerne ristes, jo mere fugt vil forlade bønnerne,
              og kaffeolierne udvikler sig endnu mere og synes i højere grad på
              kaffebønnernes overflade, hvilket giver disse mørkristede kaffer
              deres karakteristiske olierede fremtoning. Den længere tids
              risting bevirker, at bønnen begynder at brænde. Dette giver den
              bittersøde smag, som yndere af de mørk ristede kaffer sætter så
              stor pris på. Mørk ristet kaffe indeholder betydelig mindre syre
              og koffein end de lysere ristede kaffer, idet disse brændes af
              under ristningsprocessen.
            </p>
          </div>
          <div class="billede">
            <img src="/img/billeder/darkroast.svg" alt="sortte" />
          </div>
        </div>
      </section>
      <Backtotop />
      <section class="monstergronte">
        <div class="main inview2">
          <div class="div_2">
            <div class="text">
              <h2>Specialty Coffee</h2><p class="body1">
                Østerlandsk Thehus var de første i Danmark til at introducere
                begrebet "Specialty Coffee" i starten af 1990'erne. Specialty
                Coffee er betegnelsen for rene arabicakaffer af højeste
                kvalitet. Specialty Coffee kommer fra en bestemt farm eller
                distrikt i det pågældende oprindelsesland og er dyrket i
                højlandet - de fleste steder i over 1600 meters højde. Specialty
                Coffee udgør kun de bedste 3 % af verdens kaffeproduktion. For
                at bære dette prædikat, skal kaffen være friskhøstet,
                håndplukket og sorteret. Der går ca. 6000 håndplukkede
                kaffebønner til bare 1 kilo ristet kaffe. Specialty Coffee
                minder på mange måder om god vin, for ligesom vin præges kaffen
                af jordbundsforhold, klima, mikroklima samt selve
                forarbejdningen af kaffebønnen. Disse faktorer er altafgørende
                for smagen.
              </p>
            </div>
            <div class="billede_forst">
              <img src="/img/billeder/Specialty.svg" alt="gronte" width="80%" />
            </div>
          </div>
        </div>
      </section>

      <section class="main inview3">
        <div class="div_1">
          <div class="text">
            <h2>Espresso</h2><p class="body1">
              Espresso er en italiensk tradition for kaffebrygning, der kan
              spores tilbage til starten af 1900-tallet i Milano. Espresso er
              italiensk for ekspres og refererer til, at kaffen skal drikkes
              hurtigt. Luigi Bezzera tog i 1901 patent på en maskine hvor
              damptryk pressede vand gennem kværnet kaffe. I 1903 blev patentet
              solgt til Desidero Pavoni, der som den første satte idéen i
              produktion og startede derved en tradition, der senere skulle
              blive en hjørnesten i italiensk barkultur. (La Pavoni
              espressomaskiner). Den kværnede kaffe stampes og fastholdes mellem
              to filtre og 90 grader varmt vand presses med 9 bars tryk gennem
              kaffen. Det er vigtigt at kaffen er kværnet tilpas fint og
              stampet, så et passende modtryk opstår, således at gennemløbstiden
              bliver ca. 25 sek. og kaffemængden i koppen bliver ca. 25 ml.
              Traditionel italiensk espressokaffe er typisk en blanding af op
              til 7 forskellige slags råkaffer. Robusta udgør ca. 10 % i langt
              de fleste blandinger, da denne er billigere og desuden giver
              crema.
            </p>
          </div>
          <div>
            <img src="/img/billeder/espresso.svg" alt="hvidte" width="80%" />
          </div>
        </div>
      </section>
      <section class="monstergulte">
        <div class="main inview4">
          <div class="div_2">
            <div class="text">
              <h2>Kaffebrygning</h2><p class="body1">
                Brygning på stempelkande Det er essentielt, at stempelkanden er
                korrekt rengjort. Det vil sige, at spemplet er adskilt, og alle
                dele er vasket med sæbe og afskyllet. Kaffe indeholder æteriske
                olier, som hurtig bliver harsk og giver en grim bitter smag. Kog
                helt frisk vand frisk fra hanen og lad det afkøle til 95 grader.
                Brug 7 gram kværnet kaffe pr kop (ikke for groft - det er en
                skrøne, at kaffe til stempel skal kværnes grovere end til
                filter. Hæld vandet over kaffen og sørg for at vand og kaffe
                blandes godt. Vent 2 minutter, rør derefter rundt i kaffen med
                en ske eller træk forsigtigt stemplet en cm op og ned. Dette får
                al kaffen til bundfælde. Stemplets funktion er at fiksere kaffen
                på bunden af kanden, således at den ikke hvirvles op, når der
                skænkes. Når kaffen selv er bundfældet, trykkes stemplet
                forsigtigt i bund. Kaffe nydes bedst mellem 40-60 grader.
              </p>
            </div>
            <div class="billede_forst">
              <img src="/img/billeder/Kaffebrygning.svg" alt="gulte" />
            </div>
          </div>
        </div>
      </section>
      <section class="main inview5">
        <div class="div_1">
          <div class="text">
            <h2>Brygning på filter</h2><p class="body1">
              Det er vigtigt, at alle komponenter er grundigt renses før brug.
              Desuden vigtigt at maskinen er afkalket regelmæssigt, da dette har
              betydning for bryggetemperaturen. Brug 7 gram fint kværnet kaffe
              pr kop. Bryg kaffen umiddelbart inden den skal nydes. Varmeplade
              og termokande er et kompromis, der så vidt muligt bør undgås.

              <br /><b>Mokkakande</b>
              <br />
              Hæld frisk vand i den underste del af kanden til under ventilen. Fyld
              filtertragten op med kaffe uden top. Skru kanden sammen og stil over
              medium varme, således at håndtaget udsættes for mindst mulig varme.
              Når vandet koger i den underste del af kanden, opstår et overtryk,
              der presser vandet op gennem kaffen. Når denne process er færdig, høres
              en lyd og kaffen er klar til servering. NB! Gå aldrig fra en bryggende
              mokkakande.

              <br /><b>Espressomaskine</b><br />
              6 gyldne regler for brygning af espressokaffe:

              <br />1) 7 gram kværnet kaffe<br />
              <br />2) Vandudløbstemperaturen fra maskine 88 grader /- 2 grader<br
              />
              <br />3) Kaffetemperatur i kop 67 grader /- 2 grader<br />
              <br />4) Vandtryk fra maskine gennem kaffen 9 bar /-1 bar<br />
              <br />5) Gennemstrømningstid fra udløbstud til kop 25 sekunder<br
              />
              <br />6) Kaffemængde i kop 25 ml<br />
            </p>
          </div>
          <div>
            <img src="/img/billeder/Brygning.svg" alt="roghte" />
          </div>
        </div>
      </section>
    </main>
  </body>
  <Footer />
</html>
<style>
  h1 {
    grid-column: 2/3;
    padding-bottom: 36px;
    text-align: center;
    padding-top: 56px;
  }

  h2 {
    margin-bottom: 20px;
  }

  section {
    padding-bottom: 50px;
  }

  img {
    margin-top: 20px;
    width: 100%;
  }
  p {
    text-align: justify;
  }

  /* desktop */
  @media (min-width: 600px) {
    .div_1 {
      grid-column: 2/3;
      align-content: center;
    }
    .div_2 {
      grid-column: 2/3;
      margin: 20px;
    }
    .text {
      padding-top: 45px;
    }
    .textlang {
      padding-top: 15px;
    }
  }
  @media (min-width: 800px) {
    .div_1 {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 30px;
      grid-column: 2/3;
      align-content: center;
    }

    .div_1 img {
      padding-top: 60px;
    }
    .div_2 {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 30px;
      grid-column: 2/3;
      margin: 0px;
    }

    .div_2 img {
      padding-top: 60px;
    }

    .div_2 .billede_forst {
      order: -1;
    }

    .billede_forst {
      max-width: 100%;
    }

    h1 {
      padding-left: 0;
      padding-right: 0;
      text-align: center;
      grid-column: 2/3;
    }

    p {
      text-align: left;
    }
    .monstergronte {
      background-image: url(/img/monstre/monster_gron_te.svg);
    }
    .monstergulte {
      background-image: url(/img/monstre/monster_gul_te.svg);
    }
    .monsterurtete {
      background-image: url(/img/monstre/monster_urte_te.svg);
    }
    .monsterchaite {
      background-image: url(/img/monstre/monster_chai_te.svg);
    }
  }
</style>

<script>
  import { animate, stagger, inView, scroll, timeline } from "motion";

  inView(".inview1", () => {
    animate(".inview1", { x: [-1000, 0] }, { duration: 2 });
  });
  inView(".inview2", () => {
    animate(".inview2", { x: [+1000, 0] }, { duration: 2 });
  });

  inView(".inview3", () => {
    animate(".inview3", { x: [-1000, 0] }, { duration: 2 });
  });
  inView(".inview4", () => {
    animate(".inview4", { x: [+1000, 0] }, { duration: 2 });
  });
  inView(".inview5", () => {
    animate(".inview5", { x: [-1000, 0] }, { duration: 2 });
  });
  inView(".inview6", () => {
    animate(".inview6", { x: [+1000, 0] }, { duration: 2 });
  });
  inView(".inview7", () => {
    animate(".inview7", { x: [-1000, 0] }, { duration: 2 });
  });
  inView(".inview8", () => {
    animate(".inview8", { x: [+1000, 0] }, { duration: 2 });
  });
  inView(".inview9", () => {
    animate(".inview9", { x: [-1000, 0] }, { duration: 2 });
  });
</script>
