---
import Backtotop from "../components/backtotop.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/img/ikoner_logo/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Østerlandsk Tehus</title>
    <link rel="stylesheet" href="https://use.typekit.net/jxo6nhv.css" />
  </head>

  <body>
    <Header />

    <main>
      <section class="main">
        <h1>BLIV KLOGERE PÅ TEVARIANTER</h1>
        <div class="div_1 inview1">
          <div class="text">
            <h2>Sort te</h2><p class="body1">
              Forskellen mellem grøn, hvid, gul, oolong og sort the, findes i
              behandlingen af thebladene efter plukning. Al reel the kommer
              nemlig fra theplanten, Camellia Sinensis. Typisk er det mængden af
              oxidering, en proces hvor thebladene reagerer med ilt, der er et
              vigtigt element i at bestemme typen af the. Sort the er
              kendetegnet ved at være oxideret helt, nærmere bestemt mellem 90
              og 99,99 %. Denne oxidation er med til at udvikle smagen i sort
              the. Thebladene i sort the får en mørkebrun farve, når de er
              færdigoxiderede. Dette har givet theen navnet ”sort the” i vesten.
              I Kina kaldes theen kaldt for 'rød the', efter den rødlige og
              kobberagtige farve, som den bryggede the antager. Modsat manges
              overbevisning, er sort the ikke fermenteret.
            </p>
          </div>
          <div class="billede">
            <img src="/img/billeder/sortte.svg" alt="sortte" />
          </div>
        </div>
      </section>
      <Backtotop />
      <section class="monstergronte">
        <div class="main inview2">
          <div class="div_2">
            <div class="text">
              <h2>Grøn te</h2><p class="body1">
                Grøn the laves ved hjælp af teplanten, Camellia Sinensis,
                ligesom hvid, gul, oolong og sort the. Trods oprindelsen fra
                samme plante, er der stor forskel på smag og egenskaber hos de
                forskellige typer af the. Denne forskel opstår ved forskellig
                behandling af de grønne theblade efter plukning, blandt andet ud
                fra mængden af oxidering (tebladendes reaktion på ilt). Grøn the
                er kendetegnet ved, at oxideringen er stoppet og/eller
                forhindret. Det siges ofte, at grøn the er mildere i smagen end
                sort, men dette er ikke nødvendigvis altid tilfældet. Grøn the
                kan være mild og let i smagen, men den kan også være kraftig og
                fyldig - alt efter hvordan den behandles. En ting, de grønne
                theer har tilfælles, er det høje indhold af antioxidanter og det
                lave indhold af tanniner. Fordi grøn the indeholder relativt
                lidt tannin, vil man ofte slippe for den følelse af tørhed i
                munden, som eksempelvis sort the kan give.
              </p>
            </div>
            <div class="billede_forst">
              <img src="/img/billeder/gronte.svg" alt="gronte" width="80%" />
            </div>
          </div>
        </div>
      </section>

      <section class="main inview3">
        <div class="div_1">
          <div class="text">
            <h2>Hvid te</h2><p class="body1">
              Hvid the bliver, som den eneste af de forskellige typer af the,
              ikke varmebehandlet, men bliver istedet lagt til tørring efter
              plukningen. Navnet hvid the, kommer ikke fra den færdigproducerede
              thes udseende eller bryggens farve, men hentyder til de fine små
              hvide dun, som findes på topskudende på de kultivarer af
              theplanten, som traditionelt er blevet brugt til at producere hvid
              the. Plukningen af hvid the foregår traditionelt set om foråret,
              da dette er sæsonen for de bedste kvaliteter. Mere kommercielle
              thebønder producerer også hvid the hen over sommeren, sensommeren
              og ind i efteråret. Alt efter hvilken stil af hvid the producenten
              ønsker, plukkes forskellige blade. Eksempelvis består Silver
              Needle kun af topskud, mens Bai Mu Dan består af første, andet og
              nogle gange tredje blad, samt nogle topskud.
            </p>
          </div>
          <div>
            <img src="/img/billeder/hvidte.svg" alt="hvidte" width="80%" />
          </div>
        </div>
      </section>
      <section class="monstergulte">
        <div class="main inview4">
          <div class="div_2">
            <div class="text">
              <h2>Gul te</h2><p class="body1">
                Gul the er nok den mest sjældne og niche type af the, da der er
                meget få forhandlere af gul the. De der forhandler gul the har
                sjældent mere end én eller to varianter. Gul the er ikke
                sjælden, fordi det er svært eller særligt dyrt at producere, men
                simpelthen grundet efterspørgslen på theen. Der er derfor heller
                ikke mange producenter af gul the. I dag er det kun otte
                regioner i Kina, der står bag ud produktionen af gul the.
                Fremtiden ser desværre ikke lys ud for overlevelsen af gul the,
                da de themestre der stadig kan producere theen, ikke altid lærer
                kunsten videre til deres lærlinge.
              </p>
            </div>
            <div class="billede_forst">
              <img src="/img/billeder/gulte.svg" alt="gulte" />
            </div>
          </div>
        </div>
      </section>
      <section class="main inview5">
        <div class="div_1">
          <div class="text">
            <h2>Rooibos og honeybush te</h2><p class="body1">
              Rooibos og honeybush er begge urtetheer. Trods dette bliver de
              ofte inddelt som en separat kategori af th, eller som en
              underkategori til urtethe. At kalde det en separat gruppe giver
              dog ikke megen mening, da begge theer opfylder kravene for at være
              urtetheer og ikke ellers besidder nogen karakteristika, som
              adskiller dem fra resten af urtetheerne. Måden hvorved man
              producerer rooibos og honeybush, er stort set den samme, som ved
              grøn og sort the. Først bliver nålene (inkl. de mindste grene)
              plukket, sorteret og tørret. Hvis man vil have grøn rooibos eller
              honeybush, bliver nålene varmet op for at forhindre oxidering.
              Dette bevarer nålenes lysegrønne farve, samt giver en lettere og
              mere tør græsset/urteagtig smag. Ved "rød" rooibos eller
              honeybush, lader man istedet nålene oxidere fuldt ud, i stil med
              sort the, før man varmer den. Dette nedbryder enzymerne i nålene,
              hvorefter de får deres karakteristiske smukke rødbrune farve.
            </p>
          </div>
          <div>
            <img src="/img/billeder/RogHte.svg" alt="roghte" />
          </div>
        </div>
      </section>
      <section class="monsterurtete">
        <div class="main inview6">
          <div class="div_2">
            <div class="text">
              <h2>Urte te</h2><p class="body1">
                Urtethe har i den klassiske forstand intet med the at gøre, da
                urtethe ikke indeholder noget egentlig the: altså ingen blade
                eller andet materiale der stammer fra Camellia Sinensis -
                theplanten bag sort, oolong, grøn og hvid the. Da urtethe
                brygges på linje med rigtige theer, har vi gennem tiden valgt,
                at de mange tørrede blandinger af forskellige urter, blade,
                blomster, rødder og bark også kaldes for the. I en urtethe
                bliver der ofte tilføjet lakridsrod. Lakridsroden har den
                virkning, at det giver bryggen en dejlig fylde og dyb eftersmag.
                Det giver ofte også urtetheen en del af den særlige sødme, som
                mange mennesker holder af. To klassikere indenfor urtethe er den
                populære Kamillethe og den smagfulde Lakrids The.
              </p>
            </div>
            <div class="billede_forst">
              <img src="/img/billeder/urtete.svg" alt="urtete" />
            </div>
          </div>
        </div>
      </section>
      <section class="main inview7">
        <div class="div_1">
          <div class="text">
            <h2>Frugt te</h2><p class="body1">
              Frugt the er, ligesom urtethe, ikke en "rigtig" the, da teplanten
              Camellia Sinensis ikke optræder i frugt the. Hvor urtethe er flere
              hundrede år gammel, er frugt the et nyere koncept udviklet i
              70'erne. Den unge alder har dog ikke stoppet frugt theen i hurtigt
              at blive en klassiker i rigtig mange hjem. Frugt the er bygget på
              tørrede frugter. Ofte starter man med en base af hyben, æble eller
              hibiscus, hvorefter der kan tilsættes blandt andet flere frugter,
              rene olier, blomster eller forskellige urter.
            </p>
          </div>
          <div>
            <img src="/img/billeder/frugtte.svg" alt="frugtte" />
          </div>
        </div>
      </section>
      <section class="monsterchaite">
        <div class="main inview8">
          <div class="div_2">
            <div class="text">
              <h2>Chai te</h2><p class="body1">
                Navnet ’chai’ er ganske enkelt det indiske ord for ’the’, som er
                afledt af det kinesiske ord for the, nemlig ’cha’. Ofte kaldes
                drikken for ’masala chai’, hvilket oversat betyder ’krydret
                the’. Variationerne af chai er endeløse, da både kontinenter og
                kulturer igennem tiden har sat sit præg på den indiske drik.
                Oftest består en klassisk chai dog af sort the blandet med
                eksempelvis kanel, kardemomme, ingefær, peberkorn og nelliker.
                Altså benyttes typisk de mere stærke krydderier. Traditionelt
                nydes theblandingen derefter med mælk, samt honning eller
                sukker.
              </p>
            </div>
            <div class="billede_forst">
              <img src="/img/billeder/chaite.svg" alt="chaite" />
            </div>
          </div>
        </div>
      </section>
      <section class="main inview9">
        <div class="div_1">
          <div class="textlang">
            <h2>Oolong te</h2><p class="body1">
              Navnet oolong stammer fra det kinesiske 烏/乌 (wū) og 龍/龙
              (lóng), hvilket direkte oversat betyder Den Sorte Drage. Navnet
              beskriver i sig selv godt den mystiske og traditionelt
              utraditionelle kinesiske the. Rent praktisk beskriver de kinesiske
              tegn for oolong formen på thebladene i deres uberørte form. Oolong
              er en traditionel semi-oxideret the, da oolong kan oxideres til et
              sted i mellem 1 og 99 procent. Dette gør oolong til en af de mest
              alsidige typer af the. Mange beskriver derfor også oolong som en
              mellemting mellem sort og grøn the. I modsætning til de fleste
              andre typer the, produceres oolong oftest af de større og mere
              modne blade fra the planten. Efter pluk bliver bladene lagt til
              tørring, enten under sol eller i et tørringsrum, for at bringe
              indholdet af væske i bladene ned. Det næste skridt involverer at
              rulle, vride eller trykke bladene forsigtigt. Dette kan gøres i
              hånden eller ved hjælp af forskellige semi- eller
              fuldautomatiserede maskiner. Formålet er at skabe små rifter og
              mærker i thebladene, hvilket øger kontakten mellem enzymerne i
              bladene og luften. Hele oxideringsprocessen overvåges og
              kontrolleres løbende af en the mester på plantagen. Når theen har
              opnået den ønskede mængde oxidering, bliver bladene fixet og lagt
              til endelig tørring.
            </p>
          </div>
          <div>
            <img src="/img/billeder/oolong.svg" alt="Oolong" />
          </div>
        </div>
      </section>
    </main>
  </body>
  <Footer />
</html>
<style>
  h1 {
    grid-column: 2/3;
    padding-bottom: 36px;
    text-align: center;
    padding-top: 56px;
  }

  h2 {
    margin-bottom: 20px;
  }

  section {
    padding-bottom: 50px;
  }

  img {
    margin-top: 20px;
    width: 100%;
  }
  p {
    text-align: justify;
  }

  /* desktop */
  @media (min-width: 600px) {
    .div_1 {
      grid-column: 2/3;
      align-content: center;
    }
    .div_2 {
      grid-column: 2/3;
      margin: 20px;
    }
    .text {
      padding-top: 45px;
    }
    .textlang {
      padding-top: 15px;
    }
  }
  @media (min-width: 800px) {
    .div_1 {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 30px;
      grid-column: 2/3;
      align-content: center;
    }

    .div_1 img {
      padding-top: 60px;
    }
    .div_2 {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 30px;
      grid-column: 2/3;
      margin: 0px;
    }

    .div_2 img {
      padding-top: 60px;
    }

    .div_2 .billede_forst {
      order: -1;
    }

    .billede_forst {
      max-width: 100%;
    }

    h1 {
      padding-left: 0;
      padding-right: 0;
      text-align: center;
      grid-column: 2/3;
    }

    p {
      text-align: left;
    }
    .monstergronte {
      background-image: url(/img/monstre/monster_gron_te.svg);
    }
    .monstergulte {
      background-image: url(/img/monstre/monster_gul_te.svg);
    }
    .monsterurtete {
      background-image: url(/img/monstre/monster_urte_te.svg);
    }
    .monsterchaite {
      background-image: url(/img/monstre/monster_chai_te.svg);
    }
  }
</style>

<script>
  import { animate, stagger, inView, scroll, timeline } from "motion";

  inView(".inview1", () => {
    animate(".inview1", { x: [-1000, 0] }, { duration: 2 });
  });
  inView(".inview2", () => {
    animate(".inview2", { x: [+1000, 0] }, { duration: 2 });
  });

  inView(".inview3", () => {
    animate(".inview3", { x: [-1000, 0] }, { duration: 2 });
  });
  inView(".inview4", () => {
    animate(".inview4", { x: [+1000, 0] }, { duration: 2 });
  });
  inView(".inview5", () => {
    animate(".inview5", { x: [-1000, 0] }, { duration: 2 });
  });
  inView(".inview6", () => {
    animate(".inview6", { x: [+1000, 0] }, { duration: 2 });
  });
  inView(".inview7", () => {
    animate(".inview7", { x: [-1000, 0] }, { duration: 2 });
  });
  inView(".inview8", () => {
    animate(".inview8", { x: [+1000, 0] }, { duration: 2 });
  });
  inView(".inview9", () => {
    animate(".inview9", { x: [-1000, 0] }, { duration: 2 });
  });
</script>
